* {
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  background-color: rgb(198, 207, 243);
}

/*Header Starts Here*/
header {
  background-color: rgb(198, 207, 243);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header span {
  margin-right: auto;
  color: rgb(41, 41, 122);
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.logo {
  width: 100px;
}
.list {
  padding: 0;
  list-style-type: none;
}
.list li {
  display: inline-block;
  padding: 0px 25px;
}
.list a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease 0s;
}
.list a:hover {
  color: rgb(41, 41, 122);
}
.list .about {
  text-decoration: underline;
}
.cta {
  padding: 0 15px;
}
button {
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  background-color: rgb(41, 41, 122);
  font-size: 18px;
  font-family: monospace;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s ease 0s;
}
button:hover {
  color: #6756e1;
  background-color: white;
}
/*Header Ends Here*/
